{% extends 'base.html' %}

{% block pagetitle %}
    <title>Graphs-alpha</title>
{% endblock pagetitle%}

{% block javascript %}
    <style>
        .inlineTable {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            // initialize variables
            var button1 = 1, button2 = 2, toggle = "on", selTheme = 0, i = 0;
            var nodesCat = "", nodesQuant = "", nodesTaxa = "";
            var chart1 = {}, chart2 = {};
            var catOptions = {}, quantOptions = {};
            var regType = 1;

            // start of dynatrees
            $("#tree_metaCat").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onLazyRead: function(node) {
                    node.appendAjax({
                        url: '/getSampleCatTreeChildren/',
                        data: {field: node.data.title}
                    });
                },
                onSelect: function(flag, node) {
                    if (flag && node.childList == undefined) {
                        node.reloadChildren(function () {
                            node.select(false);
                            node.select(true);
                        });
                    }
                    nodesCat = node.tree.getSelectedNodes();
                    chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
                }
            }); // end tree_metaCat

            $("#tree_metaQuant").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: '/getSampleQuantTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onSelect: function(select, node) {
                    nodesQuant = node.tree.getSelectedNodes();
                    chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
                }
            }); // end tree_metaQuant

            $("#tree_taxa").dynatree({
                checkbox: true,
                selectMode: 2,
                initAjax: {
                    url: '/getTaxaTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onSelect: function(select, node) {
                    nodesTaxa = node.tree.getSelectedNodes();
                    searchData(nodesTaxa);
                    if (toggle == "on") {
                        chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
                    }
                }

            }); // end tree_taxa

            // categorical or quantitative data
            $("#button1").change(function () {
                button1 = $(this).val();
                chooseDisplay(button1);
                chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
            });

            // dependent variable
            $("#button2").change(function () {
                button2 = $(this).val();
                chooseDisplay(button1);
                chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
            });

            $("#regType").change(function () {
                regType = $(this).val();
                chooseDisplay(button1);
                chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
            });

            // set highchart theme
            $("#theme").change(function () {
                selTheme = $(this).val();

                if (selTheme == 1) {
                    if (button1 == 1) {
                        $("#container-1").empty();
                        new Highcharts.Chart(catOptions);
                    }
                    else if (button1 == 2) {
                        $("#container-2").empty();
                        new Highcharts.Chart(quantOptions);
                    }
                }
                else if (selTheme == 2) {
                    $.getScript('../media/highcharts/themes/dark-blue.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
//                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 3) {
                    $.getScript('../media/highcharts/themes/dark-green.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 4) {
                    $.getScript('../media/highcharts/themes/dark-unica.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 5) {
                    $.getScript('../media/highcharts/themes/gray.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 6) {
                    $.getScript('../media/highcharts/themes/grid.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 7) {
                    $.getScript('../media/highcharts/themes/grid-light.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 8) {
                    $.getScript('../media/highcharts/themes/sand-signika.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
                else if (selTheme == 9) {
                    $.getScript('../media/highcharts/themes/skies.js', function () {
                        if (button1 == 1) {
                            $("#container-1").empty();
                            new Highcharts.Chart(Highcharts.merge(catOptions, theme));
                        }
                        else if (button1 == 2) {
                            $("#container-2").empty();
                            new Highcharts.Chart(Highcharts.merge(quantOptions, theme));
                        }
                    });
                }
            });

           // Clear all selected nodes
            $("#clearMeta").click(function(){
                if (button1 == 1) {
                    $("#tree_metaCat").dynatree("getRoot").visit(function (node) {
                        node.select(false);
                    });
                }
                else if (button1 == 2) {
                    $("#tree_metaQuant").dynatree("getRoot").visit(function (node) {
                        node.select(false);
                    });
                }
            });

            $("#clearTaxa").click(function() {
                toggle = "off";
                $("#selectall").val(0);
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    node.select(false);
                });
                toggle = "on";
                chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
            });

            // get all nodes for specified taxa levels
            $("#selectall").change(function () {
                var rank = $(this).val();

                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    toggle = "off";
                    node.select(false);
                    toggle = "on";
                });
                $("#tree_taxa").dynatree("getRoot").visit(function (node) {
                    toggle = "off";
                    if (node.getLevel() == rank) {
                        node.select(true);
                    }
                    toggle = "on";
                });
                toggle = "off";
                nodesTaxa = $("#tree_taxa").dynatree("getSelectedNodes");
                toggle = "on";
                chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType);
            });


        // Choose what tree/graph/text to display
        function chooseDisplay(button1) {
            if (button1 == 1) {
                $("#tree_metaQuant").hide();
                $("#tree_metaCat").show();
                $("#container-2").hide();
                $("#container-1").show();
                $("#text-1").show();
                $("#regList").hide();
            }
            else if (button1 == 2) {
                $("#tree_metaCat").hide();
                $("#tree_metaQuant").show();
                $("#container-1").hide();
                $("#container-2").show();
                $("#text-1").hide();
                $("#regList").show();
            }
        }

        // select categorical or quantitative data
        function chooseData(button1, button2, nodesCat, nodesQuant, nodesTaxa, regType) {
            if ((nodesCat != "") && (nodesTaxa != "") && (button1 == 1)) {
                $("#container-1").empty();
                $("#container-1").append('Analysis is running...please be patient');
                getCatGraphData(button2, nodesCat, nodesTaxa);
            }
            else if ((nodesQuant != "") && (nodesTaxa != "") && (button1 == 2)) {
                $("#container-2").empty();
                $("#container-2").append('Analysis is running...please be patient');
                getQuantGraphData(button2, nodesQuant, nodesTaxa, regType);
            }
            else if ((nodesCat != "") && (nodesTaxa == "") && (button1 == 1)) {
                $("#container-1").empty();
                $("#container-1").append('Please also choose your taxa level(s)!');
                $("#container-2").empty();
                $("#container-2").append('Please also choose your taxa level(s)!');
                $("#text-1").val('No data selected');
            }
            else if ((nodesQuant != "") && (nodesTaxa == "") && (button1 == 2)) {
                $("#container-1").empty();
                $("#container-1").append('Please also choose your taxa level(s)!');
                $("#container-2").empty();
                $("#container-2").append('Please also choose your taxa level(s)!');
            }
            else if ((nodesCat == "") && (nodesTaxa != "") && (button1 == 1)) {
                $("#container-1").empty();
                $("#container-1").append('Please also choose your meta variable(s)!');
                $("#container-2").empty();
                $("#container-2").append('Please also choose your meta variable(s)!');
                $("#text-1").val('No data selected');
            }
            else if ((nodesQuant == "") && (nodesTaxa != "") && (button1 == 2)) {
                $("#container-1").empty();
                $("#container-1").append('Please also choose your meta variable(s)!');
                $("#container-2").empty();
                $("#container-2").append('Please also choose your meta variable(s)!');
            }
        }

        // populate search links
        function searchData(nodesTaxa) {
            var search = $.map(nodesTaxa, function(node) {
                return node.data.title;
            });
            $("#MicrobeWiki").attr("href", "https://microbewiki.kenyon.edu/index.php/Special:Search?search=" + search);
            $("#Wiki").attr("href", "http://en.wikipedia.org/wiki/" + search);
            $("#Google").attr("href", "http://www.google.com/search?q=" + search);
        }

        function getCatGraphData(button2, nodesCat, nodesTaxa) {
            var array1 = [];
            for (i = 0; i < nodesCat.length; i++) {
                var key1 = nodesCat[i].data.id;
                var value1 = nodesCat[i].data.title;
                if (nodesCat[i].getLevel() == 4) {
                    var next1 = '"' + key1 + '" : "' + value1 + '"';
                    array1.push(next1);
                }
            }
            var meta = "{" + array1.join(",") + "}";

            var array2 = [];
            for (i = 0; i < nodesTaxa.length; i++) {
                var key2 = nodesTaxa[i].data.tooltip;
                var value2 = nodesTaxa[i].data.id;
                if (nodesTaxa[i].getLevel() >= 2) {
                    var next2 = '"' + key2 + '" : "' + value2 + '"';
                    array2.push(next2);
                }
            }
            var taxa = "{" + array2.join(",") + "}";

            var myDict = {};
            myDict['meta'] = meta;
            myDict['taxa'] = taxa;
            myDict['button'] = button2;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getCatAlphaData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var xAxis = obj['xAxis'];
                    var series = obj['series'];
                    var yAxis = obj['yAxis'];
                    barchart(xAxis, yAxis, series);
                    var text = obj['text'];
                    $('#text-1').val(text);

                }
            });
        }

        function getQuantGraphData(button2, nodesQuant, nodesTaxa, regType) {
            var array1 = [];
            for (i = 0; i < nodesQuant.length; i++) {
                var key1 = nodesQuant[i].data.tooltip;
                var value1 = nodesQuant[i].data.title;
                if (nodesQuant[i].getLevel() == 3) {
                    var next1 = '"' + key1 + '" : "' + value1 + '"';
                    array1.push(next1);
                }
            }
            var meta = "{" + array1.join(",") + "}";

            var array2 = [];
            for (i = 0; i < nodesTaxa.length; i++) {
                var value2 = nodesTaxa[i].data.id;
                var key2 = nodesTaxa[i].data.tooltip;
                if (nodesTaxa[i].getLevel() >= 2) {
                    var next2 = '"' + key2 + '" : "' + value2 + '"';
                    array2.push(next2);
                }
            }
            var taxa = "{" + array2.join(",") + "}";
            var myDict = {};
            myDict['meta'] = meta;
            myDict['taxa'] = taxa;
            myDict['button'] = button2;
            myDict['regType'] = regType;
            var jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getQuantAlphaData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var xAxis = obj['xAxis'];
                    var series = obj['series'];
                    var yAxis = obj['yAxis'];
                    linechart(xAxis, yAxis, series);
                }
            });
        }

        function barchart(xAxis, yAxis, series) {
           catOptions = {
                chart: { renderTo: 'container-1', type: 'column' },
                title: { text: null },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 20
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: { column: { stacking: 'normal' } },
                credits: { enabled: false }
            };
            chart1 = new Highcharts.Chart(catOptions);
        }

        function linechart(xAxis, yAxis, series) {
            quantOptions = {
                chart: { renderTo: 'container-2', type: 'scatter', zoomType: 'xy'},
                title: { text: null },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 20
                },
                xAxis: xAxis,
                yAxis: yAxis,
                series: series,
                tooltip: {
                    formatter: function () {
                        return '{' + this.series.name + '}' + '<br>' + '(' + this.x + ',' + this.y + ')'
                    }
                },
                credits: { enabled: false }
            };
            chart2 = new Highcharts.Chart(quantOptions);
        }

    }); // end document ready function
    </script>
{% endblock javascript %}

{% block my_content %}
    <br>
    <span>
        Select data type:
        <select id="button1">
            <option value="1" selected="selected">Categorical</option>
            <option value="2" >Quantitative</option>
        </select>
        &nbsp &nbsp
        Select all taxa:
        <select id="selectall">
            <option value="0">Off</option>
            <option value="2">Kingdoms</option>
            <option value="3">Phylas</option>
            <option value="4">Classes</option>
            <option value="5">Orders</option>
            <option value="6">Families</option>
            <option value="7">Genera</option>
            <option value="8">Species</option>
        </select>
    </span>
    <!-- tree tables -->
    <div>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Select Meta Data:<a href="#" id="clearMeta" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_metaCat"></div>
                    <div id="tree_metaQuant" style="display: none"></div>
                </td>
            </tr>
        </table>
        <table border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Select Taxa:<a href="#" id="clearTaxa" style="font-size: 12px;">-Deselect all-</a></th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <div id="tree_taxa"></div>
                </td>
            </tr>
        </table>

        <table  border="2" cellspacing="0" cellpadding="5" class="inlineTable">
            <tr>
                <th>Search Selected Taxa:</th>
            </tr>
            <tr>
                <td bgcolor="white" align="center">
                    <a style="font-size: 12px;" id="MicrobeWiki" class="Offmouse" href="https://microbewiki.kenyon.edu"  target="_blank">-MicrobeWiki-</a><br>
                    <a style="font-size: 12px;" id="Wiki" class="Offmouse" href="http://en.wikipedia.org/wiki/"  target="_blank">-Wiki-</a><br>
                    <a style="font-size: 12px;" id="Google" class="Offmouse" href="http://www.google.com/"  target="_blank">-Google-</a>
                </td>
            </tr>
            <tr>
                <td width="160px" bgcolor="white" align="center">
                    <p>Above link(s) open a search of the currently selected taxa
                    in a new window. Search will most likely fail if more than one
                    node is selected.</p>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div  style="float: right;">Select chart theme:
        <select id="theme">
            <option value="1" selected="selected">default</option>
            <option value="2">dark-blue</option>
            <option value="3">dark-green</option>
            <option value="4">dark-unica</option>
            <option value="5">gray</option>
            <option value="6">grid</option>
            <option value="7">grid-light</option>
            <option value="8">sand-signika</option>
            <option value="9">skies</option>
        </select>
    </div>
    <table width="950px" border="2">
        <tr>
            <th style="padding-right: 10px;">GraphData</th>
        </tr>
        <tr>
            <td style="float: left;">Select dependent variable:
                <select id="button2">
                    <option value="1">Sequence Reads</option>
                    <option value="2" selected="selected">Relative Abundance</option>
                    <option value="3">Species Richness</option>
                    <option value="4">Shannon Diversity</option>
                </select>
            </td>
            <td id="regList" style="float: right; display: none;">Select trend line:
                <select id="regType">
                    <option value="1" selected="selected">linear</option>
                    <option value="2">polynomial</option>
                    <option value="3">exponential</option>
                    <option value="4">logarithmic</option>
                    <option value="5">power</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <div id="container-1" style="height: 400px;">No Data has been selected!</div>
                <div id="container-2" style="height: 400px; display: none">No Data has been selected!</div>
            </td>
        </tr>
    </table>

    <div>
        <p>Test Results:</p>
        <textarea style="width: 950px;" wrap="off" id="text-1" rows="20">No data selected</textarea>
    </div>
    <br>
    <br>
    <br>

{% endblock my_content%}
