<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.-1 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
{% load staticfiles %}

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link href="../media/css/new_style.css" rel='stylesheet' type='text/css'>

    {% block pagetitle %}{% endblock pagetitle %}

    {% block jquery %}
        <!-- dynatree -->
        <script src="../media/dynatree/jquery.js" type="text/javascript"></script>
        <script src="../media/dynatree/jquery-ui.custom.js" type="text/javascript"></script>
        <script src="../media/dynatree/jquery.cookie.js" type="text/javascript"></script>

        <link rel='stylesheet' type='text/css' href="../media/dynatree/ui.dynatree.css">
        <script src="../media/dynatree/jquery.dynatree.js" type="text/javascript"></script>

        <!-- dataTable -->
        <link rel='stylesheet' type='text/css' href="../media/datatables/jquery.dataTables.css">
        <script src="../media/datatables/jquery.dataTables.min.js" type="text/javascript"></script>

        <!-- nvd3 stuff -->
        <script src="/media/nvd3/nvd3.lib/d3.v2.js" type="text/javascript"></script>
        <script src="/media/nvd3/nv.d3.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/tooltip.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/outro.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/utils.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/models/legend.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/models/axis.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/models/scatter.js" type="text/javascript"></script>
        <script src="/media/nvd3/nvd3.src/models/line.js" type="text/javascript"></script>
        <link href="/media/nvd3/nvd3.src/nv.d3.css" rel="stylesheet" type="text/css">
    {% endblock jquery %}

    {% block javascript %}{% endblock javascript %}
</head>

<body>
    <div id="intestazione">
        <table>
            <tr>
                <td><img style="height:50px" src="{% static "images/dbimage.jpeg" %}"/></td>
                <td><img style="height:50px" src="{% static "images/DNA.jpeg" %}"/></td>
                <td><h1>PhyloDB: A web-based database storage and retrieval system for metagenomic data</h1></td>
                <td><img style="height:50px" src="{% static "images/ARS.jpeg" %}"/></td>

            </tr>
        </table>
    </div>

    <div id="pagina">

        <div id="Menu">

            <div class="menuTitle">Menu</div>

            <ul class="menuItems">
                <li><a class="Offmouse" href="/home/" id="newOspite" onmouseout="this.className='Offmouse'"
                       onmouseover="this.className='Onmouse'">Home</a></li>
                <li><a class="Offmouse" href="/upload/" id="newOspite" onmouseout="this.className='Offmouse'"
                       onmouseover="this.className='Onmouse'">[Upload Data]</a></li>

                <li>Analyze Data</li>

                <li style="margin-left:10px"><a class="Offmouse" href="/select/" id="newOspite" onmouseout="this.className='Offmouse'"
                       onmouseover="this.className='Onmouse'">-Select Data</a></li>
                <li style="margin-left:10px"><a class="Offmouse" href="/graph/" id="newOspite" onmouseout="this.className='Offmouse'"
                       onmouseover="this.className='Onmouse'">-Graph Data</a></li>
                <li style="margin-left:10px"><a class="Offmouse" href="/Analysis/" id="newOspite" onmouseout="this.className='Offmouse'"
                       onmouseover="this.className='Onmouse'">-ANOVA</a></li>
            </ul>
        </div>

        <div id="Content">
            {% block my_content %}{% endblock my_content%}
        </div>
    </div>
</body>
</html>