{% extends 'base.html' %}

{% block jquery %}
    <!-- dynatree -->
    <link rel='stylesheet' type='text/css' href="../media/dynatree/ui.dynatree.css">
    <script src="../media/dynatree/jquery.dynatree.js" type="text/javascript"></script>
{% endblock %}

{% block pagetitle %}
    <title>Graph</title>
{% endblock %}

{% block dynatree %}
    <script type="text/javascript">
        $(function () {
            // Initialize tree
            $("#tree1").dynatree({
                checkbox: true,
                selectMode: 3,
                onSelect: function (node) {
                    var selKeys = $.map($("#tree1").dynatree("getSelectedNodes"), function (node) {
                        return node.data.uuid;
                    });
                    $('#textField').val(selKeys.join(","));  // uuids for all selected samples (no projects)
                } // end onSelect
            }); // end tree
        }); // end function
    </script>
{% endblock %}

{% block content %}
    <form>
        <table border="2">
            <th style="padding-right: 10px;">Select categorical variables</th>
            <tr>
                <td style="vertical-align: top">
                    <div id="tree1">
                        <ul>
                            <li title="Organism">Organism
                                <ul>
                                    {% for item in organism %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="biome">biome
                                <ul>
                                    {% for item in biome %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="feature">feature
                                <ul>
                                    {% for item in feature %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="geo_loc">geo_loc
                                <ul>
                                    {% for item in geo_loc %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="material">material
                                <ul>
                                    {% for item in material %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="crop_rotation">crop_rotation
                                <ul>
                                    {% for item in crop_rotation %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="cur_land_use">cur_land_use
                                <ul>
                                    {% for item in cur_land %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="cur_crop">cur_crop
                                <ul>
                                    {% for item in cur_crop %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="cur_cultivar">cur_cultivar
                                <ul>
                                    {% for item in cur_cultivar %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="profile_position">profile_position
                                <ul>
                                    {% for item in profile_position %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="soil_type">soil_type
                                <ul>
                                    {% for item in soil_type %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                            <li title="tillage">tillage
                                <ul>
                                    {% for item in tillage %}
                                        <li title="{{ item }}">{{ item }}
                                    {% endfor %}
                                </ul>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </form>
{% endblock %}