{% extends 'base.html' %}

{% block pagetitle %}
    <title>Graph</title>
{% endblock %}

{% block javascript %}
    <style>
        .tooltip {
          position: absolute;
          width: 200px;
          height: 28px;
          pointer-events: none;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("button").click(function () {
                $("toggle").toggle();
            });

            $("#tree_metaCat").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: '/getSampleCatTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onSelect: function () {
                    chooseData();
                },
                onPostInit: function () {
                    chooseData()
                }
            }); // end tree

            $("#tree_metaQuant").dynatree({
                checkbox: true,
                selectMode: 1,
                initAjax: {
                    url: '/getSampleQuantTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onSelect: function () {
                    chooseData();
                },
                onPostInit: function () {
                    chooseData()
                }
            }); // end tree

            $("#tree_taxa").dynatree({
                checkbox: true,
                selectMode: 2,
                initAjax: {
                    url: '/getTaxaTree/',
                    dataType: 'jsonp',
                    data: {}
                },
                onSelect: function () {
                   chooseData();
                },
                onPostInit: function () {
                    chooseData()
                }
            }); // end tree

        }); // end function

        function chooseData() {
            var nodesCat = $("#tree_metaCat").dynatree("getSelectedNodes");
            var nodesQuant = $("#tree_metaQuant").dynatree("getSelectedNodes");
            var nodesTaxa = $("#tree_taxa").dynatree("getSelectedNodes");
            if ((nodesCat != "") && (nodesTaxa != "")) {
                getCatData();
            }
            if ((nodesQuant != "") && (nodesTaxa != "")) {
                getQuantData();
            }
        }

        function getCatData() {
            var myDict = {};
            myDict['meta'] = getCatMetaValues();
            myDict['taxa'] = getTaxaValues();
            jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getCatGraphData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var abund = (obj['abund']);
                    var rich = obj['rich'];

                    AbundBarChart(abund);
                    RichBarChart(rich);
                }
            });
        }

        function getQuantData() {
            var myDict = {};
            myDict['meta'] = getQuantMetaValues();
            myDict['taxa'] = getTaxaValues();
            jsonDict = JSON.stringify(myDict);

            $.ajax({
                url: '/getQuantGraphData/',
                type: 'GET',
                dataType: 'json',
                data: {
                    all: jsonDict
                },
                success: function(data) {
                    var result = JSON.stringify(data);
                    var obj = $.parseJSON(result);
                    var abund = (obj['abund']);
                    var rich = obj['rich'];

                    AbundLineChart(abund);
                    RichLineChart(rich);
                }
            });
        }

        function getCatMetaValues() {
            var string = "";
            var nodes = $("#tree_metaCat").dynatree("getSelectedNodes");
            for (i in nodes) {
                var value = nodes[i].data.title;
                var parent = nodes[i].getParent();
                var key = parent.data.title;
                if (nodes[i].getLevel() == 4) {
                    string = key + "//" + value + "|" + string;
                }
            }
            return string.substring(0, string.length - 1);
        }

        function getQuantMetaValues() {
            var string = "";
            var nodes = $("#tree_metaQuant").dynatree("getSelectedNodes");
            for (i in nodes) {
                var value = nodes[i].data.title;
                var parent = nodes[i].getParent();
                var key = parent.data.title;
                if (nodes[i].getLevel() == 3) {
                    string = key + "//" + value + "|" + string;
                }
            }
            return string.substring(0, string.length - 1);
        }

        function getTaxaValues() {
            var string = "";
            var nodes = $("#tree_taxa").dynatree("getSelectedNodes");
            for (i in nodes) {
                var value = nodes[i].data.id;
                if (nodes[i].getLevel() >= 3) {
                    string = value + "|" + string;
                }
            }
            return string.substring(0, string.length - 1);
        }

        var barchart_abund;
        function AbundBarChart(obj) {
            nv.addGraph(function () {
                barchart_abund = nv.models.multiBarChart()
                        .x(function (d) {return d.label})
                        .y(function (d) {return d.value})
                        .transitionDuration(50)
                        .margin({top:50, right:50, bottom:50, left:100})
                        .reduceXTicks(false)
                        .rotateLabels(-45)
                        .showControls(true)
                        .groupSpacing(0.1)
                ;

                barchart_abund.yAxis
                        .tickFormat(d3.format(',.2e'));

                d3.select('#chart1 svg')
                        .datum(obj)
                        .transition().duration(50)
                        .call(barchart_abund);

                nv.utils.windowResize(barchart_abund.update);

                return barchart_abund;
            });
        }

        var barchart_rich;
        function RichBarChart(obj) {
            nv.addGraph(function () {
                barchart_rich = nv.models.multiBarChart()
                        .x(function (d) {return d.label})
                        .y(function (d) {return d.value})
                        .transitionDuration(50)
                        .margin({top:50, right:50, bottom:50, left:100})
                        .reduceXTicks(false)
                        .rotateLabels(-45)
                        .showControls(true)
                        .groupSpacing(0.1)
                ;

                barchart_rich.yAxis
                        .tickFormat(d3.format(',.1f'));

                d3.select('#chart2 svg')
                        .datum(obj)
                        .transition().duration(50)
                        .call(barchart_rich);

                nv.utils.windowResize(barchart_rich.update);

                return barchart_rich;
            });
        }

        var scatterchart_abund;
        function AbundLineChart(obj) {
            nv.addGraph(function () {
                scatterchart_abund = nv.models.scatterPlusLineChart()
                        .x(function (d) {return d.x})
                        .y(function (d) {return d.y_abund})
                        .tooltips(true)
                        .tooltipContent(function(key, x, y) {
                            return '<p><strong>(' + key + '<br>(' + x + ',' + y + ')</strong></p>'
                        })
                        .transitionDuration(50)
                        .margin({top:50, right:50, bottom:50, left:100})
                ;

                scatterchart_abund.xAxis
                        .axisLabel(obj[0]['x-label'])
                ;

                scatterchart_abund.yAxis
                       .tickFormat(d3.format(',.2e'))
                        .axisLabel('Relative Abundance')
                ;

                d3.select('#chart3 svg')
                        .datum(obj)
                        .transition().duration(50)
                        .call(scatterchart_abund)
                ;

                nv.utils.windowResize(scatterchart_abund.update);

                return scatterchart_abund;
            });
        }

        var scatterchart_rich;
        function RichLineChart(obj) {
            nv.addGraph(function () {
                scatterchart_rich = nv.models.scatterPlusLineChart()
                        .x(function (d) {return d.x})
                        .y(function (d) {return d.y_rich})
                        .transitionDuration(50)
                        .margin({top:50, right:50, bottom:50, left:100})
                ;

                scatterchart_abund.xAxis
                        .axisLabel(obj[0]['x-label'])
                ;

                scatterchart_rich.yAxis
                       .tickFormat(d3.format(',.1f'))
                        .axisLabel('OTU Richness')
                ;

                d3.select('#chart4 svg')
                        .datum(obj)
                        .transition().duration(50)
                        .call(scatterchart_rich);

                nv.utils.windowResize(scatterchart_rich.update);

                return scatterchart_rich;
            });
        }

    $(function () {
        var cond1 = 1;
        var cond2 = 1;

        $("input[name$='button1']").click(function() {
            cond1 = $(this).val();
            displayTree(cond1);
            displayGraph(cond1, cond2);
        });
        $("input[name$='button2']").click(function() {
            cond2 = $(this).val();
            displayTree(cond1);
            displayGraph(cond1, cond2);
        });
    });

    function displayTree (cond1) {
        if (cond1 == 1) {
            $("#tree_metaQuant").hide();
            $("#tree_metaCat").show();
        }
        if (cond1 == 2) {
            $("#tree_metaCat").hide();
            $("#tree_metaQuant").show();
        }
    }

    function displayGraph (cond1, cond2) {
        if (cond1 == 1 && cond2 == 1) {
            $("div.desc").hide();
            $("#chart1").show();
            d3.select('#chart1 svg').call(barchart_abund);
        }
        if (cond1 == 1 && cond2 == 2 ) {
            $("div.desc").hide();
            $("#chart2").show();
            d3.select('#chart2 svg').call(barchart_rich);
        }
        if (cond1 == 2 && cond2 == 1) {
            $("div.desc").hide();
            $("#chart3").show();
            d3.select('#chart3 svg').call(scatterchart_abund);
        }
        if (cond1 == 2 && cond2 == 2 ) {
            $("div.desc").hide();
            $("#chart4").show();
            d3.select('#chart3 svg').call(scatterchart_rich);
        }
    }
    </script>
{% endblock javascript %}

{% block my_content %}
    <form>
    <br>
        <div id="myRadio1">
            Select data type:
            <input type="radio" name="button1" checked="checked" value="1">Categorical
            <input type="radio" name="button1" value="2">Quantitative
        </div>

        <!-- tree tables -->
        <table border="2" cellspacing="0" cellpadding="5">
            <tr>
                <th>Select Meta Data<br>
                </th>
                <th>Select Taxa level</th>
            </tr>
            <tr>
                <td style="padding-right: 10px; vertical-align: top">
                    <!-- left tree -->
                    <table border="0" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>
                                <div id="tree_metaCat"></div>
                                <div id="tree_metaQuant" style="display: none"></div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="padding-right: 10px; vertical-align: top">
                    <!-- right table -->
                    <table border="0" cellspacing="0" cellpadding="1">
                        <tr>
                            <td>
                                <div id="tree_taxa"></div>
                            </td>
                        </tr>
                    </table>
                    <!-- end of main table -->
                </td>
            </tr>
        </table>
        <br>
        <div id="myRadio2">
            Select dependent variable:
            <input type="radio" name="button2" checked="checked" value="1">Relative Abundance
            <input type="radio" name="button2" value="2">Richness
        </div>

        <!-- graph table -->
        <table width="150%" border="2">
            <tr>
                <th style="padding-right: 10px;">GraphData</th>
            </tr>
            <tr>
                <td>
                    <div id="chart1" class="desc"> <svg style="height: 500px; width:750px;"></svg> </div>
                    <div id="chart2" class="desc" style="display: none"> <svg style="height: 500px; width: 750px;"></svg> </div>
                    <div id="chart3" class="desc" style="display: none"> <svg style="height: 500px; width: 750px;"></svg> </div>
                    <div id="chart4" class="desc" style="display: none"> <svg style="height: 500px; width: 750px;"></svg> </div>
                </td>
            </tr>
            </table>
    </form>
{% endblock my_content%}
