{% extends 'base.html' %}

{% block jquery %}
    <link rel='stylesheet' type='text/css' href="../media/dynatree/ui.dynatree.css">
    <script src="../media/dynatree/jquery.dynatree.js" type="text/javascript"></script>
{% endblock %}

{% block pagetitle %}
    <title>Select</title>
{% endblock %}

{% block dynatree %}
    <script type="text/javascript">
        $(function () {
            $("#tree1").dynatree({
                checkbox: true,
                selectMode: 3,

                // Un/check real checkboxes recursively after selection
                onSelect: function (select, dtnode) {
                    dtnode.visit(function (dtnode) {
                        $("#chb-" + dtnode.data.key).attr("checked", select);
                    }, true, true);
                    dtnode.visitParents(function (dtnode) {
                        $("#chb-" + dtnode.data.key).attr("checked", select);
                    }, null, true);
                }

            }); // End dynatree

            // Update real (hidden) checkboxes according to selections
            // Form action posts checkbox ids based on checked status
            $.map($("#tree1").dynatree("getTree").getSelectedNodes(),
                    function (dtnode) {
                        $("#chb-" + dtnode.data.key).attr("checked", true);
                        dtnode.activate();
                    });

        }); // End initial function
    </script>
{% endblock %}

{% block content %}
    <h2>Select any combination of data for analysis:</h2>
    <form id="myform" method="POST" action="{% url 'norm' %}">
        {% csrf_token %}
        <table>
            <td>
                <div id="tree1">
                    <ul>
                        <li id="root" title="tooltip" class="folder"><input style="display:none" type="checkbox"
                                                                            id="chb-root" name="root" value="Root"/>All
                            projects
                            <ul>
                                {% for project in projects %}
                                    <li id="{{ project.projectid }}" title="{{ project.project_desc }}" class="folder">
                                    <input style="display:none" type="checkbox" id="chb-{{ project.projectid }}"
                                           name="projectids" value="{{ project.projectid }}"/>Project:
                                    {{ project.project_name }}
                                    <ul>
                                        {% for sample in samples %}
                                            <li id="{{ sample.sampleid }}" title="{{ sample.title }}">
                                            <input style="display:none" type="checkbox" id="chb-{{ sample.sampleid }}"
                                                   name="sampleids" value="{{ sample.sampleid }}"/>Sample:
                                            {{ sample.sample_name }}
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </ul>

                    </ul>
                </div>
            </td>
        </table>
        <p><input type="submit" value="Submit selection"/></p>
    </form>
{% endblock %}

