{% extends 'base.html' %}

{% block jquery %}
    <link rel='stylesheet' type='text/css' href="../media/dynatree/ui.dynatree.css">
    <script src="../media/dynatree/jquery.dynatree.js" type="text/javascript"></script>
{% endblock %}

{% block pagetitle %}
    <title>Select</title>
{% endblock %}

{% block dynatree %}
    <script type="text/javascript">

        $(function () {
            $("#tree").dynatree({
                checkbox: true,
                selectMode: 3,
                initAjax: {
                    url: "/getTree/",
                    dataType: "jsonp",
                    data: {}
                },

                onSelect: function (flag, node) {
                    //updateChart();
                },

                onActivate: function (node) {
                },

                noLink: false,
                fx: { height: "toggle", duration: 200},
                onPostInit: function (isReloading, isError) {
                    if (getSringOfSelectedTreeNodes() != '') {
                        //updateChart();
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Select any combination of data for analysis:</h2>
    <form id="myform" method="POST">
        {% csrf_token %}
        <div id="tree"></div>
        <p><input type="submit" id="submit" value="Submit selection"/></p>
    </form>
{% endblock %}

